<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLink]="['/owner-document-list']"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a [routerLink]="['/user-document-list']">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a [routerLink]="['/command-add-file']">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a [routerLink]="['/user-setting']"><i class="fas fa-user-cog fa-lg mr-2"></i>ตั้งค่าผู้ใช้งาน</a>
  <a [routerLink]="['/logout']"><i class="fas fa-sign-out-alt fa-lg mr-2"></i>ออกจากระบบ</a>
</div>

<div class="container-main" id="main">
  <div class="content">
    <div class="content-header">
      <span (click)="openNav()" class="menu-btn"><i class="fas fa-bars fa-3x"></i></span>
      <!-- เปลี่ยน title -->
      <span class="notify-container">
        <span class="icon">
          <i class="far fa-bell fa-3x mr-2"></i>
        </span>
        <span class="icon">
          <i class="far fa-envelope fa-3x mr-2"></i>
        </span>
        <span class="icon">
          <i class="fas fa-th-large fa-3x mr-2"></i>
        </span>
      </span>
    </div>
    <div class="main-content">
      <div class="top-container">
        <div class="icon-container"><i class="far fa-copy fa-3x"></i></div>
        <div class="label-container">
          <div class="text bold">{{waitingNumber}}</div>
          <div class="text">รอคุณอยู่</div>
        </div>
      </div>
      <div class="document-container">
        <div class="card">
          <h5 class="card-header">รอดำเนินการกับคุณ</h5>
          <div class="card-body pb-0" *ngFor="let item of documentWaitingList;let i = index">
            <h5 class="card-title" *ngFor="let file of item.files"><a href="{{backendUrl}}preview/{{file._id}}"
                target="_blank"> {{file.name}}</a></h5>
            <p class="card-text mb-1 text-muted"><small>ส่งโดย: {{item.owner.name}}</small></p>
            <p class="card-text mb-1 text-muted"><small>ส่งเมื่อ: {{formalDate(item.createAt)}}
                {{formalTime(item.createAt)}}</small></p>
            <button type="button" class="btn btn-primary" (click)="submitRead(item._id,i)">รับทราบ</button>
            <hr class="my-0">
          </div>
        </div>
        <div class="card mt-2">
          <h5 class="card-header">ดำเนินการเรียบร้อยแล้ว</h5>
          <div class="card-body pb-0" *ngFor="let item of documentDoneList">
            <h5 class="card-title" *ngFor="let file of item.files"><a href="{{backendUrl}}preview/{{file._id}}"
                target="_blank"> {{file.name}}</a></h5>
            <p class="card-text mb-1 text-muted"><small>เมื่อ: {{formalDate(item.users_action.action_date)}}
                {{formalTime(item.users_action.action_date)}}</small></p>
            <hr class="my-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
