<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLink]="['/owner-document-list']"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a [routerLink]="['/user-document-list']">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a [routerLink]="['/command-add-file']">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a [routerLink]="['/user-setting']"><i class="fas fa-user-cog fa-lg mr-2"></i>ตั้งค่าผู้ใช้งาน</a>
  <a [routerLink]="['/logout']"><i class="fas fa-sign-out-alt fa-lg mr-2"></i>ออกจากระบบ</a>
</div>

<div class="container-main" id="main">
  <div class="content">
    <div class="content-header">
      <span (click)="openNav()" class="menu-btn"><i class="fas fa-bars fa-3x"></i></span>
      <!-- เปลี่ยน title -->
      <span class="notify-container">
        <span class="icon">
          <a *ngIf="actionNumber != 0" [routerLink]="['/user-document-list']" style="color: #dc3545;">
            <i class="far fa-bell fa-3x mr-2"></i>
            <span class="badge badge-danger" style="margin-left: -20px;">{{actionNumber}}</span>
          </a>
          <i *ngIf="actionNumber == 0" class="far fa-bell fa-3x mr-2"></i>
        </span>
        <span class="icon">
          <i class="far fa-envelope fa-3x mr-2"></i>
        </span>
        <span class="icon">
          <i class="fas fa-th-large fa-3x mr-2"></i>
        </span>
      </span>
    </div>
    <div class="main-content">
      <div *ngIf="!previewPdf">
        <div class="top-container">
          <div class="step-container">
            <div class="step-item active"></div>
            <div class="space"></div>
            <div class="step-item"></div>
            <div class="space"></div>
            <div class="step-item"></div>
          </div>
          <div class="label-container">
            <div class="text">ขั้นตอนที่ 1 เลือกเอกสาร</div>
          </div>
        </div>
        <div class="document-container">
          <div class="header">
            <div class="title">เอกสาร</div>
            <div class="hint-text">ลากวางเพื่อเรียงลำดับเอกสาร</div>
            <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
            <button class="btn" (click)="hiddenfileinput.click()"><i class="fas fa-plus-circle fa-2x"></i></button>
          </div>
          <div class="list-file-container">
            <div class="drag-container" dragula="VAM">
              <div class="item" *ngFor="let item of selectedFile; let i = index">
                <span class="link" *ngIf="uploadedLink[i]"
                  (click)="openPreviewPdf(uploadedLink[i])">{{item.name}}</span> <span
                  *ngIf="!uploadedLink[i]">{{item.name}}</span>
                <i class="fas fa-times fa-lg ml-2" (click)="removeFile(i)"></i>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="bottom-container">
          <button *ngIf="uploadedLink.length == 0" type="button" class="btn btn-success" (click)="upload()">อัพโหลด <i
              class="fas fa-upload"></i></button>
          <button *ngIf="uploadedLink.length != 0" type="button" class="btn btn-primary" (click)="submit()">ถัดไป <i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <div *ngIf="previewPdf" class="pdf-preview">
        <object [attr.data]="previewPdf" type="application/pdf">
          <embed [src]="previewPdf" type="application/pdf" />
        </object>
        <div class="bottom-container">
          <button type="button" class="btn btn-primary" (click)="closePreviewPdf()">BACK</button>
        </div>
      </div>
    </div>
  </div>
</div>
