/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 300px;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //เปลี่ยนสีพื้นหลัง slide menu
  background-color: rgba(70, 10, 180, 0.3);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  //สีตัวอักษร slide menu และ icon
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #cc1212;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    // width: 450px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.container-header {
  position: relative;


}

.container-main {
  text-align: center;
  // background dummy
  // background-image: url('../../assets/classroom.jpg');
  background-color: #b9b9b9;

  .content {
    margin: auto;
    width: 400px;
    height: 600px;
    // background home
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;

    .content-header {
      position: absolute;
      margin: auto;
      text-align: left;
      width: 400px;

      .menu-btn {
        //เปลี่ยนสี Burger Menu
        color: black;
        vertical-align: middle;
      }

      .text {
        //เปลี่ยนสี title
        color: black;
        margin-left: 25px;
        font-size: 30px;
        vertical-align: middle;
        font-weight: bold;
      }
    }

    .img-container {
      text-align: center;

      img {
        width: 100%;
        height: 210px;
        max-width: 800px;
      }
    }

    .logo-container {
      img {
        width: 100px;
        // border-radius: 35px;
        // border: 2px solid #a97979a6;
      }
    }

    .title-container {
      //เปลี่ยนชื่อสำนักงาน
      color: orange;
    }

    .content-footer {
      background-color: blue;
      position: absolute;
      margin: auto;
      text-align: left;
      width: 400px;
      bottom: 0;
      height: 50px;
      //เงา bottom
      box-shadow: 0px -3px 3px 0px violet;

      .icon-container {
        color: white;

        i {
          margin-top: 8px;
        }
      }
    }
  }
}
